#aboutwrap {
}
#aboutwrap .blurb {
	width: 320px;
}
#aboutwrap .pagecolumn1 {
	width: 0%;
}
#aboutwrap .pagecolumn2 {
	width: 100%;
}
.picrow {
	height: 107px;
	width: 100%;
	text-align:center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.biophoto {
	width: 100px;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	float: left;
}
.halfbiospacer {
	width: 47px;
	height: 150px;
	margin: auto 2px;
	border: 0px;
	float: left;
}
.inactivebiophoto {
	border: 1px solid #0064A9;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
}
.activebiophoto {
	border-width: 5px;
	margin-left: 0px;
	margin-right: 0px;
	border-image: url(../pics/photo_border.png) 25% round;
	-webkit-border-image: url(../pics/photo_border.png) 25% round;
	-moz-border-image: url(../pics/photo_border.png) 25% round;
}
.subtitle {
	text-align: left;
	text-align: -webkit-left;
	text-align: -moz-left;
	font-size: x-large;
	display: block;
	font-variant: small-caps;
	letter-spacing: 1px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-right: 140px;
	border-bottom: 1px solid #0064A9;
	margin-top: 20px;
}
.subtitle2 {
	text-align: left;
	text-align: -webkit-left;
	text-align: -moz-left;
	font-size: large;
	display: block;
	font-variant: small-caps;
	letter-spacing: 1px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	margin-right: 140px;
	border-bottom: 1px solid #0064A9;
	margin-top: 20px;
}
.bio {
	margin-top: 10px;
	margin-bottom: 10px;
	width:80%;
	margin-left:50px;
	margin-right:0px;
	display: none;
}
.biotitle {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #0064A9;
	font-variant: small-caps;
	margin-right: 30px;

}
.biocontent {
	font-size: smaller;
	line-height: 150%;
}
.roman {
	width: 40px;
	display: inline-block;
	clear: left;
	float: left;
}
.romantext {
	display: inline-block;
	float: left;
	width: 280px;
}
.romanwrap {
	margin: 20px auto;
}
#aboutwrap .divider {
	height: 720px;
}